html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

footer {
  width: 100%;
}

.container-custom {
  padding-left: 60px;
  padding-right: 60px;
}

/* format for preview container */
.mobile-preview-container {
  width: 375px;
  height: 500px;
  margin: 0 auto;
  margin-top: 30px; 
  margin-bottom: 30px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* format for content in preview container */
.mobile-content {
  padding: 20px;
  flex: 1;
  overflow-y: auto;
}
